/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 20px;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  p {
    color: #444;
    line-height: 1.5;
  }
  
  img {
    max-width: 300px;
    display: block;
    margin: 20px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  a {
    color: #0066cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  nav {
    background-color: #333;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  .content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .content li {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .content li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
  }
  
  .content li img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
  }
  
  .container {
    display: flex;
    align-items: center;
  }
  
  .spimage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
  }
  
  .map {
    text-align: right;
    transform: translate(350%,10%);
  }
  
  .left-image {
    float: left;
    margin-right: 10px;
  }